.cl-internal-phfxlr {
  font-family: inherit;
}

.cl-internal-8hu0g {
  border: 0px;
  border-top: 0cm;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}

.cl-internal-19oafnx {
  border: 0px;
  border-top: 0cm;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.cl-internal-8hu0g {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.cl-internal-1pr5xvn {
  display: none;
}

.cl-internal-11f0qyb {
  gap: 0px;
  background-color: transparent;
}

.cl-internal-w4f4gh {
  background: transparent;
}

.cl-internal-1dauvpw {
  @apply hidden;
}
